{%load static%}
<!DOCTYPE html>
<html>
<head>
		
	<link rel="stylesheet" type="text/css" href=" {% static "openlib.css" %}">
	<title>openlibrary kenya</title>
</head>
<body>
 <div class="container">
     <header>
         <h1 class="font"><u>openlibrary kenya</u></h1>
    </header>
     <nav>
     <p>you can download and upload any exam </p>
        
     </nav>
     <main>
     <div class="main">
         
         <form action='examss' method='POST' enctype="multipart/form-data">
         {% csrf_token %}
         <p>upload your exams  here</p>
     unit code:<br>
     
     <input  type="text" placeholder=" ICS 2204" name="unitcode"><br>
     unit name:<br>
     <input type="text" name="unitname"><br>
     yeardone:<br>
     <input type="number"name="yeardone"><br>
     upload your file:<br>
     
     <input type="file" name="image" ><br>
     <input type="submit"value ="submit"><br>
     </div>

     <div class="section">
    
     </form>
     <form  method ='POST' action='searchexams'>
     {% csrf_token %}
     <p>download  your exams here</p>
     <input type="text" placeholder="enter unitcode" name='unitcode'>
     <input type="submit"value ="submit">
     </form>
     </div> 
     </main>        
         
     <footer>
         <p class="small">inspired by aoron swartz</p>
    
     </footer>
     </div>


</body>
</html>