{%load static%}
<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href=" {% static "openlib.css" %}">
	<title>openlibrary kenya</title>
</head>
<body>
<div class="container">
     <header>
         <h1 class="font"><u>openlibrary kenya</u></h1>
    </header>
     <nav>
    <p>this funding will help host the website and make it better</p>
        
     </nav>
     <main>
         
     </main>
     <footer>
         <p class="small">inspired by aoron swartz</p>
    
     </footer>
   </div>

</body>
</html>