{% load static%}
<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href=" {% static "openlib.css" %}">
	<title>openlibrary kenya</title>
</head>
<body>
<div class="container">
     <header>
         <h1 class="font"><u>openlibrary kenya</u></h1>
    </header>
     <nav>
      <a href="www.pdfdrive.com">books</a>
       <a href="/notes">pdfnotes</a>
        <a href="/exams">exams</a>
	 <a href="/cats">cats</a>
      <a href="/fund">fund the website</a>
	
	 
        
     </nav>
     <main>
         
     </main>
     <footer>
         <p class="small">inspired by aoron swartz</p>
    
     </footer>
   </div>

</body>
</html>